@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    background: linear-gradient(to right, #d4d3dd, #ffffff);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
